body{
	margin:0;
	padding:0;
	width:1100px;
	background-color:lightyellow;
}

.imageContainer img{
	width:400px;
	height:150px
}
.image{
	width:200px;
	height:100px;
}
.text{
	align-items:center:
	width:600px;
	font-size:10px;
}